<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  <display-name>PoppyEnglish</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>com.poppyenglish.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/sign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.poppyenglish.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddInfoServlet</display-name>
    <servlet-name>AddInfoServlet</servlet-name>
    <servlet-class>com.poppyenglish.AddInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInfoServlet</servlet-name>
    <url-pattern>/addinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Friends</display-name>
    <servlet-name>Friends</servlet-name>
    <servlet-class>com.poppyenglish.Friends</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Friends</servlet-name>
    <url-pattern>/friends</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HonorServlet</display-name>
    <servlet-name>HonorServlet</servlet-name>
    <servlet-class>com.poppyenglish.HonorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HonorServlet</servlet-name>
    <url-pattern>/honor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RankServlet</display-name>
    <servlet-name>RankServlet</servlet-name>
    <servlet-class>com.poppyenglish.RankServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RankServlet</servlet-name>
    <url-pattern>/rank</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OneDayServlet</display-name>
    <servlet-name>OneDayServlet</servlet-name>
    <servlet-class>com.poppyenglish.OneDayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OneDayServlet</servlet-name>
    <url-pattern>/oneday</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShareServlet</display-name>
    <servlet-name>ShareServlet</servlet-name>
    <servlet-class>com.poppyenglish.ShareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShareServlet</servlet-name>
    <url-pattern>/share</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddShareServlet</display-name>
    <servlet-name>AddShareServlet</servlet-name>
    <servlet-class>com.poppyenglish.AddShareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddShareServlet</servlet-name>
    <url-pattern>/addshare</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiveImgServlet</display-name>
    <servlet-name>ReceiveImgServlet</servlet-name>
    <servlet-class>com.poppyenglish.ReceiveImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveImgServlet</servlet-name>
    <url-pattern>/img</url-pattern>
  </servlet-mapping>
</web-app>